{% extends "base.html" %} 
{% block start %}


<div class=" mt-4 ">
  <h1 class="text-center text-capitalize " fs-1>{{receipe.receipe_name}}<h1>
  <div class="d-flex justify-content-center align-items-center mt-4 p-1 "> <img src="/media/{{receipe.receipe_image}}" class="shadow rounded "  /> </div>
  <div class="container mt-4 p-4  justify-content-center align-items-center border w-75 rounded border border-5 border-primary-subtle bg-primary-subtle"><p class=" text-capitalize  fs-5">{{receipe.receipe_description}}</p></div>
  <div class="container mt-4 p-4  justify-content-center align-items-center border w-50 rounded  border border-5 border-success-subtle bg-success-subtle">
    <div><h5 class="fs-3">Ingredients for {{receipe.receipe_name}}</h5></div>
    <div class="p-3  ">
      <ol class="mt-3">
        {% for ingredient in ingredients %}
        <li class="fs-6">{{ingredient}}</li>
        <hr/ >
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container mt-4 p-4  justify-content-center align-items-center border w-75 rounded  border border-5 border-warning-subtle bg-warning-subtle">
    <div><h5 class="fs-3">How to make {{receipe.receipe_name}}</h5></div>
    <div class="p-3  ">
      <ol class="mt-3">
        {% for method in receipe_method %}
        <li class="fs-6">{{method}}</li>
        <hr/ >
        {% endfor %}
      </ol>
    </div>
  </div>
</div>


 

{% endblock %}
